@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background: url(Assets/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
}

p{
    color: rgb(87, 87, 87);
}

.uniform-margin{
    margin-right: 3rem;
    margin-left: 3rem;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 0 3rem;
}

.top-left-side-bar{
    margin-left: 2rem;
}

.top-right-side-bar{
    margin-right: 2rem;
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.top-right-side-bar svg{
    cursor: pointer;
}

.sign-up-btn{
    background-color: black;
    padding: 1rem;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.sign-up-btn:hover{
    background-color: rgb(39, 39, 39);
}

.get-started-btn{
    color: white;
}

.main-container{
    text-align: center;
    /*margin: 3rem;*/
    margin-bottom: 3rem;
}

.img-container{
    text-align: center;
}

#img-top{
    width: 45%;
    margin-bottom: -.2rem;
    /*height: auto;*/
}

.bottom-container{
    background-color: white;
    height: auto;
    margin: 0 -1rem -1rem -1rem;
    padding: 5rem;
}

.bottom-flex{
    display: flex;
    justify-content: space-between;
}

.bottom-main{
    width: 50%;
}

#img-bottom{
    height: 23rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.footer-right{
    display: flex;
    gap: 1rem;
}